@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap");

body {
  background-color: black;
}
#hero img {
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}

#hero .content {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 5%;
  top: 3%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(102, 101, 101);
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 20px #2b78c2;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

#clickme {
  color: #d9ddde;
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 5%;
  top: 3%;
  text-indent: 12em;
  font-size: 18px;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
#center {
  font-family: "PT Sans Narrow", sans-serif;
}

#button-text {
  font-family: "Open Sans Condensed", sans-serif;
}

#block {
  margin-left: 3px;
  margin-right: 3px;
}
.icons {
  font-size: 1.5rem;
}
.buton {
  text-shadow: 0px 0px 30px #2b78c2;
}
.judul {
  text-shadow: 0px 0px 30px #2b78c2;
}
